{:logging {:enabled? false
           :clean-logs? true
           :print-logs? false
           :output-path "db.log"
           :output-level :debug}
 :db {:io {:db-path "db"
           :chunk-size 2}}
 :server {:port 50937}}