{:logging {:enabled? true
           :clean-logs? true
           :print-logs? true
           :write-logs? false
           :output-path "db.log"
           :output-level :debug}
 :db {:io {:db-path "db"}
      :chunker {:chunk-size 2
                :enabled? true}}
 :server {:port 50937}}